<%= form_for [refinery, :locations_admin, @location] do |f| -%>
  <%= render '/refinery/admin/error_messages',
              :object => @location,
              :include_object_name => true %>
            
  
  <div class='field'>
    <span>
      <%= f.label :region_id, "Region" %>  
    </span>
    <ul class='checkboxes'>
      <%- regions.each do |region| -%>
        <li>
          <%= f.radio_button :region_id, region.id, :value => region.name.titleize %>
          <%= f.label "region_id_#{region.id}".to_sym, region.name.titleize, :class => "stripped" %>
        </li>
      <%- end -%>      
    </ul>
  </div>
    
  <div class='field'>
    <%= f.label :name -%>
    <%= f.text_field :name, :class => 'larger widest'  -%>
  </div>

   <div class='field'>
    <%= f.label :address -%>
    <%= f.text_field :address, :class => 'larger widest'  -%>
  </div>
  
  <div class='field'>
    <%= f.label :city -%>
    <%= f.text_field :city, :class => 'larger widest'  -%>
  </div>

   <div class='field'>
    <%= f.label :state_or_province -%>
    <%= f.text_field :state_or_province, :class => 'larger widest'  -%>
  </div>

  <div class='field'>
    <%= f.label :zip -%>
    <%= f.text_field :zip, :class => 'larger widest'  -%>
  </div>

   <div class='field'>
    <%= f.label :country -%>
    <%= f.text_field :country, :class => 'larger widest'  -%>
  </div>
  
  <div class='field'>
    <%= f.label :email -%>
    <%= f.text_field :email, :class => 'larger widest'  -%>
  </div>

   <div class='field'>
    <%= f.label :phone -%>
    <%= f.text_field :phone, :class => 'larger widest'  -%>
  </div>

   <div class='field'>
    <%= f.label :fax -%>
    <%= f.text_field :fax, :class => 'larger widest'  -%>
  </div>
  
  <div class='field'>
    <%= f.label :image -%>
    <%= render '/refinery/admin/image_picker',
               :f => f,
               :field => :image_id,
               :image => @location.image,
               :toggle_image_display => false %>
  </div>
  
  <div class='field'>
    <%= f.label :menu -%>
    <%= render '/refinery/admin/resource_picker',
               :f => f,
               :field => :menu_id,
               :resource => @location.menu %>
  </div>
  
   <div class='field'>
    <%= f.label :hours, "Hours (separeted by semicolons)" -%> 
    <%= f.text_area :hours, rows: 4, :class => 'larger widest', :style => "font-size: 150%;" -%>
  </div>


  <%= render '/refinery/admin/form_actions', :f => f,
             :continue_editing => false,
             :delete_title => t('delete', :scope => 'refinery.locations.admin.locations.location'),
             :delete_confirmation => t('message', :scope => 'refinery.admin.delete', :title => @location.name) %>
<% end -%>
